DB_USERNAME=admin
DB_PASSWORD=AdminBeam
DB_NAME=rtrs_db
DB_NAME_TEST=rtrs_db_test
DB_HOST=your-rds-endpoint.ap-southeast-1.rds.amazonaws.com
DB_DIALECT=mysql
DB_PORT=3306
PORT=5000
NODE_ENV=production
ALLOWED_ORIGINS=https://restaurant-table-reservation-system-mu.vercel.app

